<input type="text" [(ngModel)]="title">
{{ title }}

<input type="text" [(ngModel)]="power">
{{ power | exponential }}

<div *ngIf="title === 'Sebas'">
  Este es Sebas
</div>

<div *ngIf="title === 'Paco'">
  Este es Paco
</div>

<div *ngIf="title === 'Ivan'">
  Este es Ivan
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'Sebas'">Este es Sebas</p>
  <p *ngSwitchCase="'Paco'">Este es Paco</p>
  <p *ngSwitchCase="'Ivan'">Este es Ivan</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem()">Add Item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>

  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>

<div class="product-grid">
  <app-product
    *ngFor="let product of products"
    (productClicked)="clickProduct($event)"
    [product]="product"
  >
  </app-product>

  <!-- {{ product.title }}
  <img [src]="product.image" alt="">
  {{ product.price }} -->
</div>
