<input type="text" [(ngModel)]="title">
{{ title }}

<div *ngIf="title === 'Sebas'">
  Este es Sebas
</div>

<div *ngIf="title === 'Paco'">
  Este es Paco
</div>

<div *ngIf="title === 'Ivan'">
  Este es Ivan
</div>

<button (click)="addItem()">Add Item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>

  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>

<div *ngFor="let product of products">
  {{ product.title }}
  <img [src]="product.image" alt="">
  {{ product.price }}
</div>
